@import '../../node_modules/sass-basis/src/css/basis-core';

body {
  background-color: #f9f9f9;
}

@media (min-width: 64em) {
  .l-body--right-sidebar .l-contents__main {
    margin: 0 1.86957rem 0 0;
    @include _margin(0, 1, 0, 0);
    width: calc(100% - 336px - #{ _space(1) } });
  }

  .l-body--left-sidebar .l-contents__main {
    @include _margin(0, 0, 0, 1);
    width: calc(100% - 336px - #{ _space(1) });
  }
}

/**
 * .l-header
 */
.l-header__drop-nav {
  background-color: rgba(255, 255, 255, .8);
}

.p-global-nav .c-navbar__item > a {
  font-weight: normal;
}

/**
 * .l-footer
 */
.l-footer {
  background-color: #fff;
}

.l-footer-widget-area {
  .widget_archive,
  .widget_calendar,
  .widget_categories,
  .widget_meta,
  .widget_nav_menu,
  .widget_pages,
  .widget_recent_comments,
  .widget_recent_entries,
  .textwidget {
    a {
      color: $_color-text;
    }
  }

  &__item {
    .c-widget__title {
      display: block;
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

/**
 * .l-front-page-widget-area
 */
.l-front-page-widget-area__item {
  > .c-section {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
  }

  > .widget_search,
  > .widget_inc2734_wp_awesome_widgets_google_adsense,
  > .widget_inc2734_wp_awesome_widgets_showcase,
  > .widget_inc2734_wp_awesome_widgets_pr_box,
  > .widget_inc2734_wp_awesome_widgets_slider,
  > .widget_inc2734_wp_awesome_widgets_pickup_slider,
  > .widget_inc2734_wp_awesome_widgets_contents_outline,
  > .widget_snow_monkey_recent_posts_widget {
    background-color: transparent;
    border-top: none;
  }
}

/**
 * .c-entries
 */
.c-entries {
  &__item {
    > a {
      background-color: #fff;
      flex: 1 1 0%;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .05);
      border-radius: 4px;
    }
  }
}

.c-entry-summary {
  &__title {
    font-weight: normal;

    @include _media-min(md) {
      font-size: 1rem;
    }
  }

  &__content {
    display: none;
  }

  &__body {
    padding: 1rem;

    @include _media-min(md) {
      padding: 1.5rem;
    }
  }
}

/**
 * .c-entries--simple
 */
.c-entries--simple {
  .c-entries__item {
    > a {
      padding: 0;
    }

    &:not(:first-child) {
      @include _margin-top(.5);

      @include _media-min(lg) {
        @include _margin-top(1);
      }
    }
  }

  .c-entry-summary {
    &__figure {
      margin: 1rem 0 1rem 1rem;

      @include _media-min(md) {
        margin: 1.5rem 0 1.5rem 1.5rem;
      }
    }

    &__content {
      display: none;
    }
  }
}

/**
 * .c-entries--text
 */
.c-entries--text {
  .c-entries {
    &__item:not(:first-child) {
      a {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &__item:not(:last-child) {
      a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

/**
 * .c-entries--rich-media
 */
.c-entries--rich-media {
  @include _media-min(lg) {
    @include _margin-right(-.5);
    @include _margin-left(-.5);
    @include _margin-bottom(-1);
  }

  .c-entries__item {
    display: flex;

    @include _media-min(lg) {
      @include _padding-right(.5);
      @include _padding-left(.5);
      @include _margin-bottom(1);
    }
  }

  .c-entry-summary {
    &:active,
    &:focus,
    &:hover {
      .c-entry-summary__figure::after {
        visibility: hidden !important;
      }
    }

    &__term {
      right: auto;
      left: .5rem;
      top: .5rem;
      border-radius: 20px;
    }

    &__figure {
      margin-bottom: 0;
    }
  }
}

/**
 * .c-entry
 */
.single .c-entry,
.page:not(.home) .c-entry,
.l-contents__main > .c-entry-aside,
:not(.l-footer-widget-area__item) > .c-widget {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .05);
  border-radius: 4px;

  @include _media-min(md) {
    padding: 1.5rem;
  }

  @include _media-min(lg) {
    padding: 3rem 2rem 2rem;
  }
}

.c-entry {
  &__header {
    border-bottom: 1px solid #eee;
    border-bottom: none;

    &::after {
      display: block;
      content: '';
      margin: 1.5rem auto 0;
      background-image: url(./img/line.svg);
      background-repeat: repeat-x;
      background-position: 0 100%;
      height: 10px;
    }
  }

  &__title {
    @include _media-min(lg) {
      font-size: 2rem;
    }
  }

  &__content {
    > h2 {
      background-color: transparent;
    }
  }
}

/**
 * .c-entry-aside__title
 */
.l-contents__main > .c-entry-aside .c-entry-aside__title,
:not(.l-footer-widget-area__item) > .c-widget .c-widget__title {
  text-align: left;
  font-size: 1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  border-bottom: 1px solid #eee;
  padding: .7rem 1rem .5rem;
  border-radius: 4px 4px 0 0;

  &::before,
  &::after {
    display: none;
  }

  @include _media-min(md) {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @include _media-min(lg) {
    margin-top: -3rem;
    margin-bottom: 2rem;
    margin-right: -2rem;
    margin-left: -2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    display: block;
  }
}

/**
 * Widgets
 */
:not(.l-footer-widget-area__item) {
  > .widget_search,
  > .widget_inc2734_wp_awesome_widgets_google_adsense,
  > .widget_inc2734_wp_awesome_widgets_showcase,
  > .widget_inc2734_wp_awesome_widgets_slider,
  > .widget_inc2734_wp_awesome_widgets_pickup_slider,
  > .widget_inc2734_wp_awesome_widgets_contents_outline {
    padding: 0;
    background-color: transparent;
    box-shadow: none;

    .c-widget__title {
      margin-right: 0;
      margin-left: 0;
    }
  }

  > .widget_inc2734_wp_awesome_widgets_contents_outline {
    .wpco {
      border: none;
      background-color: transparent;
    }

    .wpco-wrapper {
      background-color: #fff;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .05);
      border-radius: 4px;
    }
  }
}

/**
 * .p-social-nav
 */
.p-social-nav {
  background-color: #fff;
}

/**
 * .c-section
 */
.c-section,
.wpac-section {
  &__title {
    font-weight: normal;
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.l-body--one-column-slim,
.l-body--one-column {
  .wpac-section {
    margin-right: auto;
    margin-left: auto;
  }
}

/**
 * .wp-profile-box
 */
.wp-profile-box {
  background-color: #fff;
}

/**
 * .c-pagination
 */
.c-pagination__item,
.c-pagination__item-link,
.c-pagination__item-ellipsis {
  border-radius: 100%;
}

/**
 * .c-copyright
 */
.c-copyright {
  border-top: none;
  background-color: #ee85b5;
  color: #fff;

  a {
    color: #fff;
  }
}
